body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form{

  font-size: 14px;

  margin:0;/*è®¾ç½®å¤–è¾¹è·ä¸º0*/

  padding:0;/*è®¾ç½®å†…è¾¹è·ä¸º0*/

}

body {

  font-size: 12px;

  font-family: "å¾®è½¯é›…é»‘";/*è®¾ç½®å­—ä½“ä¸ºå¾®è½¯é›…é»‘*/

}

ul,ol {

  list-style: none;/*æ¸…é™¤åˆ—è¡¨é»˜è®¤æ ·å¼*/

}

a {

  text-decoration: none;/*æ¸…é™¤ä¸‹åˆ’çº¿*/

}

.clear {

  clear: both;/*æ¸…é™¤æµ®åŠ¨*/

  float: none;

  height: 0;

  overflow: hidden;

}

html .hide {

  display: none;/*éšè—å…ƒç´ ï¼Œå¹¶ä¸å æ®åŽŸæœ‰ç©ºé—´*/

}



.singlepage {

  min-height: 800px;/*è®¾ç½®æœ€å°é«˜åº¦ä¸º800px*/

  padding: 20px 0 20px;

  background-image: url('../imgs/beij.jpg') ;
  background-size: cover;/*è®¾ç½®èƒŒæ™¯åº•éƒ¨å±…ä¸­å¯¹é½*/
  background-position: center;
  background-repeat: no-repeat;

}

.singlepage .singlepage_center {

  display: flex;

  width: 1200px;

  justify-content: space-between;/*è®¾ç½®å¼¹æ€§å­å…ƒç´ ä¸¤ç«¯å¯¹é½*/

  margin: 20px auto 0;/*è®¾ç½®å¤–è¾¹è·ä¸Š20px  ä¸‹0px å·¦å³è‡ªåŠ¨*/

}

.singlepage .singlepage_center .left {

  width: 160px;

  height: 452px;

  padding: 40px 20px 0;

  background:#ffffff url(../imgs/left.png) top center no-repeat;

}

.singlepage .singlepage_center .left a {

  display: block;

  margin-bottom: 20px;

  font-weight: bold;

  font-family: "æ¥·ä¹¦";

  padding-bottom: 20px;

  font-size: 16px;

  border-bottom: 1px dotted #ddd;

  color: #000000;

  text-align: center;/*è®¾ç½®æ–‡å­—å±…ä¸­å¯¹é½*/

}

.singlepage .singlepage_center .right {

  margin-bottom: 20px;

  width: 960px;

  box-sizing: border-box;/*è®¾ç½®ç›’æ¨¡åž‹ä¸ºIEç›’æ¨¡åž‹*/

  border: 2px solid #000;

  background: #fff;

}

.singlepage .singlepage_center .right .tp,

.singlepage .singlepage_center .right .bt {

  width: 100%;

}

.singlepage .singlepage_center .right .tp img,

.singlepage .singlepage_center .right .bt img {

  width: 100%;

  display: block;

}

.singlepage .singlepage_center .right .infobox {

  padding: 0 40px;

  min-height: 850px;

}

.singlepage .singlepage_center .right .infobox .other {

  text-align: center;

  font-size: 14px;

  padding-bottom: 20px;

  color: #549014;

  justify-content: center;

  display: flex;

}

.singlepage .singlepage_center .right .infobox .other span {

  margin: 0 10px;

}

.singlepage .singlepage_center .right .infobox .h3 {

  padding-bottom: 40px;

  margin-bottom: 20px;

  font-size: 32px;

  font-weight: bold;/*è®¾ç½®å­—ä½“åŠ ç²—çš„å±žæ€§*/

  text-align: center;

  color: #333;

  border-bottom: 2px dotted #ddd;

}

.singlepage .singlepage_center .right .infobox .info {

  font-size: 16px;

  line-height: 2;

  color: #666;

}

.singlepage .singlepage_center .right .infobox .info * {

  max-width: 100%;

}

.prolistgroup {

   overflow: hidden;/*è®¾ç½®æº¢å‡ºéšè—*/

}

.prolistgroup .list_li {

  width: 232px;

  height: 232px;

  padding: 20px;

  float: left;

  margin: 0 30px 30px 0;

  position: relative;

  background: #ffffff url(../imgs/kuang.png) center center no-repeat;

  background-size: 100% 100%;/*è®¾ç½®èƒŒæ™¯å¤§å°*/

}

.prolistgroup .list_li:nth-child(3n+0) {

  margin-right: 0;

}

.prolistgroup .list_li span {

  display: block;

  width: 232px;

  height: 232px;

}

.prolistgroup .list_li span img {

  width: 100%;

  height: 100%;

}

.prolistgroup .list_li strong {

  display: block;

  position: absolute;/*è®¾ç½®ç»å¯¹å®šä½*/

  background: #549014;

  width: 232px;

  height: 30px;

  line-height: 30px;

  bottom: 20px;

  color: #fff;

  text-align: center;

  font-weight: normal;

  background: rgba(6, 171, 4, 0.3);

  font-size: 14px;

}


#view_box{
  position:relative;
  width:800px;
  height:300px;
  float:left;
  margin: 50px 40px;
  background-color:#ffffff;
  background-image:url("../res/zongzi1.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:auto;

  transition: all 3s ease;
}
.btn_list{
  position:absolute;
  bottom:10px;
  width:100%;
}
ul{
  list-style-type:none;
  width:350px;
  display:flex;
  align-items:center;
}
li{
  background-color:yellowgreen;
  color:#ffffff;
  width:30px;
  height:30px;
  line-height:30px;
  margin-left:10px;
  text-align:center;
  border-radius:30px;
  cursor:pointer;
  opacity:0.5;
}


.zongzi{
	display: block;
  width: 100%;
  height: 300px;
  margin: 50px auto;
  background: white ;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 30px;
  font-family: "隶书";
  color: slategray;
}
